h1{
    color: red;
    text-shadow:  
              0px 4px 8px rgb(255, 0, 0), 
              0px 8px 16px rgb(255, 0, 0);
}

button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
input{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
div{
    padding: 280px 500px;
    border: solid 1px;
    background-color: black;
}
#result{
    padding: 30px;
    border: none;
    text-shadow: 
              
              0px 4px 8px rgba(0,255,34), 
              0px 8px 16px rgba(0,255,34);
}